#grid-display{	
	margin: 10px;
	padding: 0;
}

.node-cell{
		display: inline-block;
		margin: 0;
		padding: 0;
		
		width: 40px;
		height: 40px;
		
		border: 1px solid black;
		
		font-size: xx-small;
		color: white;
}

.start-node-cell{
	background-color: green;
}

.end-node-cell{
	background-color: yellow;
}

.wall-node-cell{
	background-color: grey;
}

.pending-node-cell{
	background-color: blue;
}

.completed-node-cell{
	background-color: red;
}