#grid-display{	
	margin: 10px;
	font-size: 0;
}

.node-cell{
		display: inline-block;
		margin: 0px;
		padding: 0px;
		
		width: 20px;
		height: 20px;
		
		border: 1px solid black;
		
		font-size: xx-small;
		color: white;
}

.start-node-cell{
	background-color: green;
}

.end-node-cell{
	background-color: yellow;
}

.wall-node-cell{
	background-color: grey;
}

.pending-node-cell{
	background-color: blue;
}

.completed-node-cell{
	background-color: red;
}

.path-node-cell{
	background-color: cyan;
}